In [1]:
d = {"name": "혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

In [3]:
import json
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

print(type(d_str))

{"name": "혼자 공부하는 데이터 분석"}
<class 'str'>

In [6]:
d2 = json.loads(d_str)
print(d2['name'])

print(type(d2))

print(d2)

혼자 공부하는 데이터 분석
<class 'dict'>
{'name': '혼자 공부하는 데이터 분석'}

In [11]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": ["박혜선","홍길동"], \
                  "year": 2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

print(d3)

print(d3['author'][1])

혼자 공부하는 데이터 분석
['박혜선', '홍길동']
2022
{'name': '혼자 공부하는 데이터 분석', 'author': ['박혜선', '홍길동'], 'year': 2022}
홍길동

In [12]:
d4_str = """
[
  {"name": "혼자 공부하는 데이터 분석", "author": "박혜선", "year": 2022},
  {"name": "혼자 공부하는 머신러닝+딥러닝", "author": "박혜선", "year": 2020}
  ]
  """

d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [16]:
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [17]:
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [18]:
x_str = """
<book>
  <name>혼자 공부하는 데이터 분석</name>
  <author>박혜선</author>
  <year>2022</year>
</book>
"""

In [20]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)
print(type(book))
print(book.tag)

<class 'xml.etree.ElementTree.Element'>
book

In [21]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x7f2dce105810>, <Element 'author' at 0x7f2dce105770>, <Element 'year' at 0x7f2dce1056d0>]

In [22]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박혜선
2022

In [23]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박혜선
2022

In [25]:
x2_str = """
<books>
  <book>
      <name>혼자 공부하는 데이터 분석</name>
      <author>박혜선</author>
      <year>2022</year>
  </book>
  <book>
      <name>혼자 공부하는 머신러닝+딤러닝</name>
      <author>박혜선</author>
      <year>2020</year>
  </book>
</books>
"""

In [26]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [27]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

혼자 공부하는 데이터 분석
박혜선
2022

혼자 공부하는 머신러닝+딤러닝
박혜선
2020

In [28]:
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딤러닝    박혜선  2020